.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em 0;
}

.slogan p {
    font-size: 2.3em;
    text-align: center;
    line-height: 1.3em;
}

.slogan a {
    color: #7f7f7f;
}

.slogan a:hover {
    color: #b8b4b4;
}

@media (max-width: 1023px) and (min-width: 740px) {

    .slogan p {
        font-size: 2.1em;
    }
}

@media (max-width: 739px) {

    .slogan p {
        font-size: 1.8em;
    }
}