.profilePic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.2em;
    margin: 0 2rem;
    place-content: center;
    margin-bottom: 150px;
}

.pic1,
.pic2 {
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    height: 520px;
    border-radius: 15px;
}

.pic1 {
    background-image: url('https://framerusercontent.com/images/wJINOk3BFAbQRx6ZySXfbltPxU.jpg?scale-down-to=1024');
}

.pic2 {
    background-image: url('https://framerusercontent.com/images/O3Foxt0XkzTsjGc74Ap0Hrxtz4c.jpg?scale-down-to=1024');
}

@media (max-width: 800px) {
    .pic2 {
        display: none;
    }

    .pic1 {
        height: 300px;
    }
}