.hero{
    width: 800px;
    margin: 13em auto 7em auto;
}

.hero p{
    font-size: 4.5em;
    text-align: center;
    line-height: 1.2em;
}

.expertise{
    width: 400px;
    margin: 45px auto 0 auto;
}

.expertise ul{
    display: flex;
    justify-content: space-between;
}

.expertise ul li{
    font-size: 13px;
    padding: 8px 12px;
}

.expertiseList{
    background-color: #f3f2f1;
    border-radius: 30px;
    
}

@media only screen and (max-width: 1023px) and (min-width: 739px){
    .hero{
        width: 600px;
        margin: 10em auto 0 auto;
    }
    .hero p{
        font-size: 45.5px;
    }
}

@media only screen and (max-width: 740px){
    .hero{
        width: 80%;
    }
    .hero p{
        font-size: 30px;
    }
    .expertise{
        display: none;
    }
}