.floatingButton{
    display: flex;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 25px;
    background-color: black;
    padding: 15px 20px;
    border-radius: 36px;
}

.logo{
    height: 14px;
    width: 14px;
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20d%3D%22M%206%200%20L%206%2012%20M%200%206%20L%2012%206%20M%201.757%201.758%20L%2010.243%2010.242%20M%201.758%2010.243%20L%2010.242%201.757%22%20fill%3D%22transparent%22%20stroke-width%3D%221.45%22%20stroke%3D%22rgb(255%2C255%2C255)%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.floatingButton p{
    margin-left: 10px;
    color: white;
    font-size: 14px;
}