.pastJobsList {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2em;
    margin: 2em 5em 5em 5em;
}

.pastJobsList li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pastJobsList li p:first-child,
.pastJobsList li p:nth-child(3) {
    color: #a7a7a7;
    font-size: 0.8rem;
}

.pastJobsList li p:nth-child(2) {
    margin: 17px 0;
    font-size: 1.5rem;
}

.pastJobsList li p:last-child {
    margin-top: 17px;
}

@media (max-width: 1024px) {
    .pastJobsList li p:nth-child(2) {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .pastJobsList {
        grid-template-columns: 1fr 1fr;
    }
}